<h1>Question Party</h1>
<div id="questions" class="tabcontent">
<% for (questionId in questions) {
		var question = questions[questionId]; %>
		<div class="question" id="<%= question.id %>">
			<form>
				<h2><%= question.text %></h2>
				<group
				<% for (answerId in question.answers) {
				var answer = question.answers[answerId];
				console.log(answer); %>
					<input type="radio" name="<%= question.id %>" value="<%= answer.id %>"> <%= answer.text %>
				<% } %>
				<button data-question-id="<%= question.id %>" onclick="confirmAnswer(event)">Confirmer</button>
			</form>
		</div>
<% } %>
	<input name="name" value="<%= student.name %>" type="hidden">
	<input name="nickname" value="<%= student.nickname %>" type="hidden">
	<input name="salon" value="<%= student.salon %>" type="hidden">
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/jquery.js"></script>
<script src="/question.js"></script>
