<h1>Question Party</h1>
<div id="questions" class="tabcontent">
<% for (questionId in questions) {
		var question = questions[questionId]; %>
		<div class="question" id="<%= question.id %>">
			<h2><%= question.text %></h2>
			<ul>
			<% for (answerId in question.answers) {
			var answer = question.answers[answerId];
			console.log(answer); %>
				<li>
				  <%= answer.id %>. <%= answer.text %>
				</li>
			<% } %>
			</ul>
			<button data-question-id="<%= question.id %>"
			  data-answer-id="<%= answer.id %>"
			  onclick="sendQuestion(event)">Envoyer
			</button>
		</div>
<% } %>


<form method="post" action="#valider" >
	<input name="name" value="<%= student.name %>" type="hidden">
	<input name="nickname" value="<%= student.nickname %>" type="hidden">
	<input name="salon" value="<%= student.salon %>" type="hidden">
	<% for( var i in question.answers ) {
		var answer = question.answers[ i ]; %>
	  <label class="" ><input type="radio" name="<%= question.id %>" value="<%= answer.id %>"> <%= answer.text %></label >
	<% } %>
	<button type="submit" class="btn" >Valider</button >
</form >
<script src="/socket.io/socket.io.js"></script>
<script src="/jquery.js"></script>
<script src="/question.js"></script>
